@media (min-width: 1200px){
    #online{
        padding-left: 200px;
        padding-top: 150px;
    }
}
@media (min-width: 850px) and (max-width: 1199px){
    #online{
        padding-left: 100px;
        padding-top: 70px;
    }
}
@media (min-width: 600px) and (max-width: 850px){
    #online{
        padding-left: 50px;
        padding-top: 20px;
    }
}

@media (max-width: 575px){
    #online{
        padding-top: 30px;
        text-align: center;
    }
}